@font-face {
   font-family: 'Inter';
   src: url('/public/assets/fonts/Inter.woff2') format('woff2'),
        url('/public/assets/fonts/Inter.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Druk Wide';
   src: url('/public/assets/fonts/DrukWide.woff2') format('woff2'),
        url('/public/assets/fonts/DrukWide.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Playfair Display';
   src: url('/public/assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('/public/assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

body {
   font-family: 'Inter';
   color: #000;
   font-size: 1rem;
   font-style: normal;
   line-height: 1.375rem;
   letter-spacing: -.02081rem;
   background: #fff;
   
   width: 100%;
   display: flex;

   @media (max-width: 768px) {
     flex-direction: column;
   }
}

p {
   font-family: 'Inter', sans-serif;
   font-size: 1rem; 
   line-height: 1.6;
   color: #333;
   margin: 0; 

   @media (max-width: 768px) {
      font-size: 0.875rem; 
      // text-align: center;
   }
}

p span {
   font-weight: 700; 
   color: #000; 
}

.content {
   margin-left: 15rem;
   display: flex;
   justify-content: center;
   flex: 1; 
   overflow-y: auto; 

   @media (max-width: 1024px) {
      margin-left: 13rem;
   }

   @media (max-width: 768px) {
      margin-left: 0;
      flex: none;
   }
}
.content span {
   font-weight: 600;
}


/* About */

.about-container {
   display: flex;
   flex-direction: column;
   gap: 2rem; 
   padding: 1.5rem 2rem; 
   max-width: 60rem;

   @media (max-width: 768px) {
      padding: 0 1rem;
      gap: 0; 
   }
}

.about-container p {

   @media (max-width: 510px) {
      text-align: center;
   }
   
}


.item {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 2rem; 
   padding: 1.5rem 0;

   @media (max-width: 1024px) {
      flex-direction: column;
   }

   @media (max-width: 768px) {
      padding: 1rem 0;
   }
}

.item:nth-child(even) {
   flex-direction: row-reverse; 

   @media (max-width: 1024px) {
      flex-direction: column;
   }
}

.about-content {
   flex: 1; 

   @media (max-width: 1024px) {
      flex: none;
   }

   // @media (max-width: 768px) {
   //    text-align: center;
   //    // font-size: 0.875rem; /* Немного уменьшаем текст */
   //    // line-height: 1.5;
   // }
}

.image-wrapper {
   flex: 0 0 35%; 
   max-width: 300px; 
   overflow: hidden; 

   @media (max-width: 1024px) {
      flex: none;
   }
}

.about-container a {
   color: #666666; 
   transition: color 0.3s ease; 

   // @media (max-width: 768px) {
   //    font-size: 0.875rem; /* Уменьшаем размер ссылок */
   // }
}

.about-container a:hover {
   color: #333333; 
}


/* CV */


.cv-container {
   max-width: 60rem;
   margin: 0 auto;
   padding: 3.5rem 1.5rem;
   font-family: "Inter", sans-serif;
   line-height: 1.6;

   @media (max-width: 1024px) {
      padding: 3rem 1.5rem;
   }

   @media (max-width: 768px) {
      padding: 1rem;
   }
}

.cv-content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem; 
   align-items: start;
   margin: 0 auto;
   max-width: 60rem;
   margin-bottom: 1.5rem;

   @media (max-width: 1024px) {
      gap: 1.5rem; 
   }

   @media (max-width: 640px) {
      gap: 1rem; 
   }

   @media (max-width: 510px) {
      grid-template-columns: 1fr;
      text-align: center;
   }
}

.cv-info h2 {
   font-family: "Druk Wide", sans-serif;
   font-size: 1.4rem; 
   margin-bottom: 0.4rem;

   @media (max-width: 1024px) {
      font-size: 1.2rem; 
      margin-bottom: 0.3rem;
   }

   @media (max-width: 640px) {
      font-size: 1rem; 
   }
}

.cv-info h3 {
   font-size: 1.4rem; 
   font-weight: normal;
   margin-bottom: 0.6rem;
   color: #333;

   @media (max-width: 1024px) {
      font-size: 1.2rem; 
      margin-bottom: 0.5rem;
   }

   @media (max-width: 640px) {
      font-size: 1rem; 
   }
}

.cv-info p,
.cv-section-title,
.cv-container a {
   font-size: 1.2rem;
   color: #333;

   @media (max-width: 1024px) {
      font-size: 1rem; 
   }

   @media (max-width: 640px) {
      font-size: 0.9rem;
   }
}

.cv-contact p:not(:first-child),
.cv-languages li {
   font-size: 1.2rem;

   @media (max-width: 1024px) {
      font-size: 1rem; 
   }

   @media (max-width: 640px) {
      font-size: 0.9rem;
   }
}

.cv-section-title {
   font-weight: bold;
   font-size: 1.3rem;
   margin-bottom: 0.8rem;

   @media (max-width: 1024px) {
      font-size: 1.1rem; 
      margin-bottom: 0.6rem;
   }

   @media (max-width: 640px) {
      font-size: 1rem;
      margin-bottom: 0.5rem;
   }
}

.cv-links,
.cv-languages,
.cv-contact {
   margin-bottom: 1.5rem;

   @media (max-width: 1024px) {
      margin-bottom: 1rem; 
   }

   @media (max-width: 640px) {
      margin-bottom: 0.8rem;
   }
}

.cv-container a {
   color: #555;
   text-decoration: none;
   font-size: 1.2rem;

   @media (max-width: 1024px) {
      font-size: 1rem; 
   }

   @media (max-width: 640px) {
      font-size: 0.9rem;
   }
}

.cv-container a:hover {
   text-decoration: underline;
}

.cv-photo {
   width: 100%;
   max-width: 22rem;
   object-fit: cover;

   @media (max-width: 1024px) {
      max-width: 18rem; 
   }

   @media (max-width: 510px) {
      max-width: 100%;
   }
}

.cv-photo-wrapper {
   display: flex;
   grid-column: 2;
   grid-row: 1 / span 2;

   @media (max-width: 510px) {
      grid-column: 1;
      grid-row: 1;
      justify-content: center; 
   }
}

.cv-info {
   grid-column: 1;
   grid-row: 1;

   @media (max-width: 510px) {
      grid-column: 1;
      grid-row: 2;
   }
}

.cv-languages {
   grid-column: 1;
   grid-row: 3;

   @media (max-width: 510px) {
      grid-column: 1;
      grid-row: 4;
   }
}

.cv-links {
   grid-column: 2;
   grid-row: 3;

   @media (max-width: 510px) {
      grid-column: 1;
      grid-row: 5;
   }
}

.cv-contact {
   grid-column: 1;
   grid-row: 2;

   @media (max-width: 510px) {
      grid-column: 1;
      grid-row: 3;
   }
}

.cv-main h2 {
   font-family: "Druk Wide", sans-serif;
   font-size: 1.4rem; 
   margin-bottom: 0.3rem;

   @media (max-width: 1024px) {
      font-size: 1.2rem; 
      margin-bottom: 0.2rem;
   }
}
   
.cv-main h3 {
   font-size: 1.4rem;
   margin-top: 1.25rem;
   margin-bottom: 0.625rem;

   @media (max-width: 1024px) {
      font-size: 1.1rem;
      margin-top: 0.9375rem;
      margin-bottom: 0.5rem;
   }

   @media (max-width: 640px) {
      margin-bottom: 0.4rem;
   }
}

.education,
.workshops {
   line-height: 1.7;

   @media (max-width: 1024px) {
      line-height: 1.6;
   }
}

.education li,
.workshops li {

   @media (max-width: 1024px) {
      font-size: 1rem;
   }

   @media (max-width: 640px) {
      font-size: 0.9rem;
   }
}

.cv-main a {
   color: gray;
   text-decoration: none;
}

.cv-main a:hover {
   text-decoration: underline;
}

.cv-main ul {
   list-style: none;
   padding: 0;
   margin: 0.6rem 0;
}

.cv-main p, 
.cv-main a {
   font-size: 0.9rem;
}

.cv-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;

   @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 0rem;
   }
}

.cv-grid h3,
.cv-content,
.performances h3,
.performances h4,
.sound-projects h3 {
   @media (max-width: 510px) {
      text-align: center;
   }
}


.sound-projects ul {
   columns: 2; 
   column-gap: 1rem;

   @media (max-width: 1024px) {
      columns: 1; 
   }
}

.sound-projects li {
   break-inside: avoid; 
}

/* Music */

.music-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1.8rem;
   max-width: 50rem;
   margin: 0 auto;
   padding: 3.5rem 2rem;

   @media (max-width: 768px) {
      padding: 1rem;
   }

   @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }
}

.gallery-item {
   display: flex;
   flex-direction: column;
}

.full-width-item {
   grid-column: span 2;
}

.gallery-item img {
   width: 100%; 
   height: auto; 
   object-fit: contain; 
}


.youtube-item iframe {
   width: 100%;
   aspect-ratio: 16 / 9; 
}

.vimeo-item iframe {
   width: 100%;
   aspect-ratio: 5.5 / 4.1; 
}


.gallery-item p {
   font-size: 0.9rem;
   line-height: 1.4;

   @media (max-width: 768px) {
      font-size: 0.875rem; 
   }
}

.gallery-item a {
   color: gray;
}

.gallery-item a:hover {
   text-decoration: underline;
}

.youtube-item,
.vimeo-item {
   grid-column: span 2;
   width: 100%;
}

.bandcamp-item {
   width: 100%; 
}

.bandcamp-item iframe {
   width: 100%; 
   border: none;
}


/* Sound */

.sound-container {
   max-width: 60rem; 
   margin: 2rem auto; 
   padding: 2rem;
   font-family: 'Inter', sans-serif; 
   color: #333; 
   display: flex;
   flex-direction: column;
   align-items: center;

   @media (max-width: 1024px) {
      padding: 2rem;
   }

   @media (max-width: 768px) {
      margin: 0 auto; 
      padding: 1rem;
   }
}

.sound-container p {
   @media (max-width: 510px) {
      text-align: center;
   }
}

.sound-content-wrapper {
   @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.sound-container h3 {
   font-family: 'Druk Wide', sans-serif; 
   font-size: 1.8rem;
   margin-bottom: 1rem;
   color: #000; 
}

.sound-container-list {
   list-style-type: disc;
   display: flex;
   flex-direction: column;
   padding-left: 1.25rem;
   column-gap: 1rem;
   margin-block: 1.25rem;

   @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-block: 1rem;
      column-gap: clamp(1rem, 10vw, 4rem);;
   }
}

.sound-container li {
   font-size: 1rem;
   line-height: 1.6;
   break-inside: avoid;
   padding: 0.3rem 0; 

   @media (max-width: 768px) {
      font-size: 0.875rem; 
   }
}

.sound-pic-wrapper {
   width: 100%;
   max-width: 45rem;
   margin-top: 3rem;
   padding-inline: 2rem;

   @media (max-width: 768px) {
      padding-inline: 1rem;
      margin-top: 2rem;
   }
}

.sound-pic-wrapper img {
   width: 100%; 
   height: auto; 
   object-fit: contain; 
   transform: rotate(4deg);
}

.sound-container-links-wrapper {
   display: flex;
   gap: 1.5rem; 
   justify-content: center; 
   margin-top: 2rem; 

   @media (max-width: 640px) {
      margin-top: 1.5rem; 
      gap: 1rem; 

   }
}

.sound-container a {
   color: #555;
   text-decoration: none;
   font-size: 1.1rem;

   @media (max-width: 1024px) {
      font-size: 1rem; 
   }

   @media (max-width: 640px) {
      font-size: 0.9rem;
   }
}

.sound-container a:hover {
   text-decoration: underline;
}
