<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Andrey Kashin</title>
    <link rel="stylesheet" href="/public/css/reset.css">
   <link rel="stylesheet" href="/public/css/styles.css">
   <link rel="stylesheet" href="/public/css/sidebar.css">
</head>
</head>
<body>
   <section class="about-container">
      <div class="item">
         <div class="about-content">
            <p><span>Andrey Kashin / Circular Void</span> is a Karelian multidisciplinary artist, musician, and sound engineer. With a diverse background in sound design, music production, and field recording, he delves into a blend of sound art and experimental music. Andrey explores the sonic expression of a wide range of acoustic and electronic instruments, focusing on the Finno-Karelian stringed bowed lyre bass talharpa (or jouhikko), using amplifiers combined with analog synthesis. His immersive compositions push the boundaries of artistic expression in avant-folk performances, resulting in drone metal textures and dark ambient soundscapes.</p>
         </div>
         <div class="image-wrapper">
            <img src="/public/assets/images/postranichno_page-0009.jpg" alt="">
         </div>
      </div>
      <div class="item">
         <div class="about-content">
            <p>Born in North Karelia, Andrey cultivated his passion for music in a town bordering Finland. He studied woodwind instruments in music school and played drums in a rock band. While studying Scandinavian history at university in Petrozavodsk, he became active in the underground punk and metal scenes, touring over 30 cities across Russia. He began experimenting with unconventional sound and performances, laying the groundwork for his artistic vision. During this time, he started collecting cassettes and vinyl, then founded the DIY cassette label Крапива (2014-2017), self-published zines about the underground art community in Karelia and organized avant-garde events in Petrozavodsk. The label released over 10 albums that influenced the garage punk and psychedelic rock scenes in Russia.</p>
         </div>
         <div class="image-wrapper">
            <img src="/public/assets/images/postranichno_page-0010.jpg" alt="">
         </div>
      </div>
      <div class="item">
         <div class="about-content">
            <p>In 2014, Andrey launched the performative art project Vulva Sun (2014–2020), blending experimental electronics and acoustic music, drawing inspiration from folklore and mythology. Alongside Vulva Sun, he participated in a side project called Automotrice (2018–2019), focused on discovering the unique and ephemeral qualities of objects, processes, and landscapes through sampling, field recordings, and a combination of acoustic and electronic equipment. Over the years, he has performed alongside artists such as Croatian Amor, Philip Jeck, Dean Blunt, Arnaud Rebotini, and Lorenzo Senni. His work has been featured in mixes on platforms like NTS Radio, 20ft Radio, and radio <a href="https://syg.ma">syg.ma</a>, expanding his reach to a broader audience.</p> 
         </div>
         <div class="image-wrapper">
            <img src="/public/assets/images/postranichno_page-0034.jpg" alt="">
         </div>
      </div>
      <div class="item">
         <div class="about-content">
            <p>After completing his education at film school, Andrey entered the professional sound design field, integrating his interest in field recordings while working in a game development studio. His studies in piano, music theory, and harmony shifted his focus from purely creative and artistic aspects to a more technical and academic approach, equipping him with a comprehensive skill set and knowledge in the sound design industry. In early 2022, he founded Highland Sound studio in Russia to produce experimental music and sound art under his project, Circular Void. Later that year, he relocated to Tbilisi, Georgia, where he became active in the local artistic community and transformed his label into a multidisciplinary platform supporting emerging artists in exile.</p>
         </div>
         <div class="image-wrapper">
            <img src="/public/assets/images/postranichno_page-0021.jpg" alt="">
         </div>
      </div>
      <div class="item">
         <div class="about-content">
            <p>While living in Georgia, his collaborative work was showcased at the Goethe-Institut, Morphine Raum, Mutant Radio workshop, and the Dutch experimental radio festival On Air-On Site, supported by the Institute of Sonology and West Den Haag. He was shortlisted for the La Nuit des Idées contest by the French Institute and was featured in mixes on Radio Raheem Milano, Camp.Fr Radio, and Radio-On-Berlin. He also became a part of the global sound art project, the Migration Sounds, in collaboration with Oxford University and COMPAS. Circular Void’s music was included in a cassette compilation dedicated to Throbbing Gristle, released by the UK label Industrial Coast.</p>
         </div>
         <div class="image-wrapper">
            <img src="/public/assets/images/postranichno_page-0032.jpg" alt="">
         </div>
      </div>
   
</body>
</html>




