<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CV - Circular Void</title>
</head>
<body>
   <section class="cv-container">

      <div class="cv-content">
   
         <div class="cv-info">
            <h2>Andrey Kashin</h2>
            <h3>Musician, Sound Designer, Artist</h3>
            <p><strong>31.12.1993</strong></p>
            <p>Born in Kostomuksha, North Karelia<br>Since 2022, based in Tbilisi, Georgia</p>
         </div>
      
         <div class="cv-languages">
            <p class="cv-section-title">Languages</p>
            <ul>
               <li>Russian - Native</li>
               <li>English - Intermediate</li>
               <li>Karelian / Finnish - Elementary</li>
            </ul>
         </div>
      
         <div class="cv-links">
            <p class="cv-section-title">Links</p>
            <p><a href="https://highlandsound.bandcamp.com/" target="_blank">Bandcamp</a></p>
            <p><a href="https://soundcloud.com/highlandsound" target="_blank">Soundcloud</a></p>
            <p><a href="https://www.instagram.com/highlandsound.music/" target="_blank">Instagram label account</a></p>
            <p><a href="https://www.instagram.com/circular_void" target="_blank">Instagram personal account</a></p>
         </div>
      
         <div class="cv-contact">
            <p class="cv-section-title">Contact:</p>
            <p><strong>Email:</strong> <a href="mailto:highlandsound.music@gmail.com">highlandsound.music@gmail.com</a></p>
            <p><strong>Telegram:</strong> <a href="https://t.me/circular_void">@circular_void</a></p>
         </div>
      
         <div class="cv-photo-wrapper">
            <img src="/public/assets/images/profile-photo.webp" alt="Andrey Kashin" class="cv-photo">
         </div>
      </div>
      
   
      <div class="cv-main">
         <div class="cv-grid">
   
            <div class="education">
               <h3>Education</h3>
               <ul>
                  <li><strong>2024:</strong> Musicheads School - Mastering Engineer</li>
                  <li><strong>2022:</strong> Online Educational Platform - Project Manager IT</li>
                  <li><strong>2019:</strong> Lendoc Film School - Sound Designer</li>
                  <li><strong>2015:</strong> Petrozavodsk State University - History of Scandinavian countries</li>
                  <li><strong>2004:</strong> Kostomuksha’s The Children's Music School named after G. A. Vavilov - Woodwind Instruments</li>
               </ul>
            </div>
            <div class="workshops">
               <h3>Workshops</h3>
               <ul>
                  <li><strong>2021:</strong> Field recording techniques in sound design course during the Mytona workshop, St. Petersburg</li>
                  <li><strong>2020-2021:</strong> Piano, music theory, and harmony course with Anna Golovina, St. Petersburg</li>
                  <li><strong>2017:</strong> Modular synthesizer creation with Boris Shershenkov during the Gear Workshop, St. Petersburg</li>
                  <li><strong>2010-2011:</strong> Drumming class with Viktor Zuev, Kostomuksha</li>
               </ul>
            </div>
            <div class="albums">
               <h3>Albums</h3>
               <ul>
                  <li><a href="https://highlandsound.bandcamp.com/album/obsession">2024, Highland Sound - Circular Void - Obsession</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/elevation">2024, Highland Sound - Circular Void - Elevation</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/songs-in-the-river">2024, Highland Sound - Sukhota - Songs In The River</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/re-existence">2023, Highland Sound - Oyuun Tuule & Circular Void - Re-Existence</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/holy-mountain">2023, Highland Sound - Dolphin Hospital / Mårble / Circular Void - Holy Mountain</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/split-2">2023, Highland Sound - Circular Void / Guldagnir - Split</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/drifter">2023, Highland Sound - Circular Void - Drifter</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/exile">2022, Highland Sound - Circular Void - Exile</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/split">2022, Highland Sound - Circular Void / Old Took - Split</a></li>
                  <li><a href="https://hairdel.bandcamp.com/album/unexpected-record">2019, Hair Del - Electro Haram / Mårble / Kash - Unexpected Record</a></li>
                  <li><a href="https://www.discogs.com/ru/release/15816789-Vulva-Sun-Falling">2019, Self-Released - Vulva Sun - Falling</a></li>
                  <li><a href="https://cancelledrec.bandcamp.com/album/split-tape">2018, Cancelled Records - Automotrice / Hroshvalur - Split</a></li>
                  <li><a href="https://www.discogs.com/ru/release/11460712-Vulva-Sun-Reincarnation">2018, Nazlo Records - Vulva Sun - Reincarnation</a></li>
                  <li><a href="https://www.discogs.com/ru/release/15816722-Vulva-Sun-Post-Mortem">2018, Self-Released - Vulva Sun - Post Mortem</a></li>
                  <li><a href="https://www.discogs.com/ru/release/6121939-Vulva-Sun-Secret-Life">2014, Nazlo Records - Vulva Sun - Secret Life</a></li>
              </ul> 
            </div>
            <div class="compilations">
               <h3>Compilations</h3>
               <ul>
                  <li><a href="https://radio.syg.ma/episodes/guests-195-circular-void">2024, radio syg.ma - Mix for radio.syg.ma - Guests 195</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/highland-sound-compilation-vol-ii">2024, Highland Sound - Highland Sound Compilation Vol. II</a></li>
                  <li><a href="https://industrialcoast.bigcartel.com/product/a-sickening-outrage-v-a">2024, Industrial Coast - A Sickening Outrage - Tribute to Throbbing Gristle</a></li>
                  <li><a href="https://cancelledrec.bandcamp.com/album/240223">2023, Cancelled Records - 240223</a></li>
                  <li><a href="https://highlandsound.bandcamp.com/album/highland-sound-compilation-vol-i">2022, Highland Sound - Highland Sound Compilation Vol. I</a></li>
                  <li><a href="https://industrialcoast.bandcamp.com/album/the-human-manifesto">2022, Industrial Coast - The Human Manifesto</a></li>
                  <li><a href="https://www.nts.live/shows/buttechno/episodes/rassvet-records-w-buttechno-31st-august-2020">2020, NTS Radio - Mix for Rassvet Records show on NTS Radio curated by Pavel Milyakov</a></li>
                  <li><a href="https://radio.syg.ma/episodes/klammklang-automotrice">2019, radio syg.ma - Collaborative mix for Klammklang show on radio.syg.ma</a></li>
                  <li><a href="https://www.youtube.com/watch?v=qC-inOl9FgE">2017, 20ft Radio - Audiovisual mix for 20ft Radio in Kyiv</a></li>
              </ul>        
            </div>
         </div>  
         
         <div class="performances">
            <h3>Live Performances</h3>
      
            <div class="cv-grid">
               <div>
                  <h4>Circular Void</h4>
                  <ul>
                     <li><a href="https://www.instagram.com/p/C_FJ6YjNyeU/?hl=ru">21.09.2024 - Live at Junkyard in Tbilisi, Georgia</a></li>
                     <li><a href="https://www.instagram.com/p/C_ueAZYo0W2/">31.08.2024 - Performance Sukhota during the End of Summer open-air art festival at Algeti Lake, Georgia</a></li>
                     <li><a href="https://www.instagram.com/p/C_L7roWCS6p/">30.08.2024 - Live with TARR at Secret Place in Tbilisi, Georgia</a></li>
                     <li><a href="https://highlandsound.bandcamp.com/album/elevation">08.06.2024 - Live at The Garden in Tbilisi, Georgia</a></li>
                     <li><a href="https://www.instagram.com/p/CuhslCvoJEw/?img_index=1">15.07.2023 - Live at artist’s exhibition Sagart Alhague in Tbilisi, Georgia</a></li>
                     <li><a href="https://www.facebook.com/events/645032884180493/">23.06.2023 - Live at Kibe in Batumi, Georgia</a></li>
                     <li><a href="https://o-b-l.bandcamp.com/album/under-pale-moon">03.11.2020 - Performance with Under Pale Moon at Museum of Urban Sculpture «Anikushin's Workshop»‎ in St. Petersburg, Russia</a></li>
                     <li><a href="https://soundcloud.com/testfm_radio/andrey-k-testfm-31102020">31.10.2020 - Vinyl set at Hersonic Halloween event on Test Fm radio in St. Petersburg, Russia</a></li>
                     <li><a href="https://www.youtube.com/watch?v=5b9zhla4ySw&t=1526s&ab_channel=clubisdead">28.08.2020 - Performance a/v at Club Is Dead platform in St. Petersburg, Russia</a></li>
                 </ul>
                 
               </div>
         
               <div>
                  <h4>Vulva Sun / Automotrice </h4>
                  <ul>
                     <li><a href="https://www.facebook.com/events/644968832624998">15.02.2019 - Live at showcase of Klammklang label at NII in Moscow, Russia</a></li>
                     <li><a href="https://www.facebook.com/events/1098878040282102/">15.12.2018 - Live at showcase of Klammklang label at Masts in St. Petersburg, Russia</a></li>
                     <li><a href="https://www.youtube.com/watch?v=tngRY3nZDEM">05.09.2018 - Live for Philip Jeck show at New Holland Island in St. Petersburg, Russia</a></li>
                     <li><a href="https://www.facebook.com/events/471256383377004">12.10.2018 - Live at presentation of the Hroshvalur and Automotrice split cassette at NII in Moscow, Russia</a></li>
                     <li><a href="https://www.facebook.com/events/2068686983394488/">12.08.2018 - Live at Mosaique in St. Petersburg, Russia</a></li>
                     <li><a href="https://www.facebook.com/events/1826277164058485">06.04.2018 - Live for Gnaw Their Tongues show at Place in St. Petersburg, Russia</a></li>
                     <li><a href="https://www.youtube.com/watch?v=yDjKqchnff8">08.12.2017 - Performance a/v at Kisoly in St. Petersburg, Russia</a></li>
                     <li><a href="https://www.facebook.com/events/456318871417361/">03.11.2017 - Live at Electro-Mechanica festival at New Stage of the Alexandrinsky Theater in St. Petersburg, Russia</a></li>
                     <li><a href="https://www.youtube.com/watch?v=6Ltex9du-nA">28.05.2017 - Performance a/v at Masts in St. Petersburg, Russia</a></li>
                     <li><a href="https://vimeo.com/236276196">18.12.2016 - Performance Hanged Man for Croatian Amor show at Center Mars in St. Petersburg, Russia</a></li>
                     <li><a href="https://www.youtube.com/watch?v=H3GPK3Issew&ab_channel=AndreyKashin">26.10.2014 - Performance Red Castle in an industrial building in Petrozavodsk, Karelia</a></li>
                  </ul>
               </div>
            </div>    
         </div>
      
         <div class="sound-projects">
            <h3>Sound</h3>
            <ul>
               <li><a href="https://citiesandmemory.com/migration/">2024 - Contributed a sound art work to the Migration Sounds project</a></li>
               <li><a href="https://highlandsound.bandcamp.com/album/highland-sound-compilation-vol-ii">2024 - Produced and mastered the Highland Sound Compilation Vol. II</a></li>
               <li><a href="https://www.youtube.com/watch?v=cSgtuXNFaKo">2024 - Shortlisted in a sound contest by the French Institute during the La Nuit des Idées festival</a></li>
               <li><a href="https://onaironsite.com/artists/oyuun-tuule-amp-circular-void">2024 - Showcased a composition with Oyuun Tuule at the On Air - On Site radio festival in The Hague, Netherlands</a></li>
               <li><a href="https://www.mixcloud.com/camp_fr/the-telharmonium-hour-30th-april-2024/">2024 - Contributed a sound art work to Camp.Fr Radio - The Telharmonium Hour</a></li>
               <li><a href="https://vimeo.com/925173445">2024 - Created music for video in collaboration with a photographer Elizabeth Haust</a></li>
               <li><a href="https://highlandsound.bandcamp.com/album/highland-sound-compilation-vol-i">2022 - Produced the Highland Sound Compilation Vol. I</a></li>
               <li><a href="https://nazlorecords.bandcamp.com/album/secret-place">2022 - Recorded a live performance for Пурпурный Дядя and Dolphin Hospital</a></li>
               <li><a href="https://www.youtube.com/watch?v=HQLIYuSW0P8&ab_channel=dasletztegoldverfallenersterne">2023 - Recorded a live performance in an abandoned cowshed for Das Letzte Gold Verfallener Sterne during the Korolistan residency in Batumi, Georgia</a></li>
               <li><a href="https://vimeo.com/782250208">2022 - Created music for video in collaboration with a photographer Elizabeth Haust</a></li>
               <li><a href="https://www.aaroncendan.me/side-projects/2021/8/1/julibrary-2021-vba-and-recording-everyday">2021 - Contributed a crowdsourced sound library of field recordings to the global sound art project Julibrary</a></li>
               <li><a href="https://mytona.com/">2020-2021 - Designed sound and music for Mytona’s game projects, integrated them into the FMOD audio engine</a></li>
               <li><a href="https://www.youtube.com/watch?v=SpQ0nU7dGuc">2018 - Recorded a live performance for Hroshvalur at abandoned attic in St. Petersburg, Russia</a></li>
               <li><a href="https://www.discogs.com/ru/label/832030">2014-2017 - Produced and released 10 albums on cassette and digital across various genres</a></li>
            </ul>  
         </div>
      </div>
     
   </section>
</body>
</html>







