<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music - Andrey Kashin</title>
    <link rel="stylesheet" href="/public/css/reset.css">
   <link rel="stylesheet" href="/public/css/styles.css">
   <link rel="stylesheet" href="/public/css/sidebar.css">
</head>
<body>
   <section class="music-container">

      <!-- Фото -->
      <div class="gallery-item">
         <img src="/public/assets/images/junkyard event.webp" alt="Live at Junkyard in Tbilisi, Georgia">
         <p><a href="https://www.instagram.com/p/C_FJ6YjNyeU/?hl=ru">Live at Junkyard in Tbilisi, Georgia</a></p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/sygma mix.webp" alt="Mix for radio.syg.ma - Guests 195">
         <p><a href="https://radio.syg.ma/episodes/guests-195-circular-void">Mix for radio.syg.ma - Guests 195</a></p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/on-air radio.webp" alt="Showcasing a composition with Oyuun Tuule at the On Air - On Site radio festival in The Hague, Netherlands">
         <p><a href="https://onaironsite.com/artists/oyuun-tuule-amp-circular-void">Showcasing a composition with Oyuun Tuule at the On Air - On Site radio festival in The Hague, Netherlands</a></p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/Sickening Outrage compilation.webp" alt="Contribution a track to the cassette-only A Sickening Outrage compilation – tribute to Throbbing Gristle (2024, Industrial Coast)">
         <p><a href="https://industrialcoast.bigcartel.com/product/a-sickening-outrage-v-a">Contribution a track to the cassette-only A Sickening Outrage compilation – tribute to Throbbing Gristle (2024, Industrial Coast)</a></p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/live with tarr.webp" alt="Live with TARR at Secret Place in Tbilisi, Georgia">
         <p><a href="https://www.instagram.com/p/C_L7roWCS6p/">Live with TARR at Secret Place in Tbilisi, Georgia</a></p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/Human Manifesto.webp" alt="Contribution a track to the charity compilation The Human Manifesto (2022, Industrial Coast)">
         <p><a href="https://industrialcoast.bigcartel.com/product/a-sickening-outrage-v-a">Contribution a track to the charity compilation The Human Manifesto (2022, Industrial Coast)</a></p>
      </div>
   
      <!-- Видео YouTube -->
      <div class="gallery-item">
         <iframe src="https://www.youtube.com/embed/pe6g5iJ9tXs" title="Vinyl set at Hersonic Halloween event on Test Fm radio in St. Petersburg, Russia" frameborder="0" allowfullscreen></iframe>
         <p>Vinyl set at Hersonic Halloween event on Test Fm radio in St. Petersburg, Russia</p>
     </div>  
   
      <div class="gallery-item">
         <img src="/public/assets/images/nts mix.webp" alt="Mix for Rassvet Records show on NTS Radio curated by Pavel Milyakov">
         <p><a href="https://www.nts.live/shows/buttechno/episodes/rassvet-records-w-buttechno-31st-august-2020">Mix for Rassvet Records show on NTS Radio curated by Pavel Milyakov</a></p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/klammklang event.webp" alt="Live at showcase of Klammklang label at Masts in St. Petersburg, Russia">
         <p><a href="https://www.facebook.com/events/1098878040282102/">Live at showcase of Klammklang label at Masts in St. Petersburg, Russia</a></p>
      </div>
   
      <!-- Видео YouTube -->
      <div class="gallery-item">
         <iframe src="https://www.youtube.com/embed/tngRY3nZDEM" title="Live for Philip Jeck show at New Holland Island in St. Petersburg, Russia" frameborder="0" allowfullscreen></iframe>
         <p>Live for Philip Jeck show at New Holland Island in St. Petersburg, Russia</p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/nii event.webp" alt="Live at presentation of the Hroshvalur and Automotrice split cassette at NII in Moscow, Russia">
         <p><a href="https://www.facebook.com/events/471256383377004">Live at presentation of the Hroshvalur and Automotrice split cassette at NII in Moscow, Russia</a></p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/Electro-Mechanica festival.webp" alt="Live at Electro-Mechanica festival at New Stage of the Alexandrinsky Theater in St. Petersburg, Russia">
         <p><a href="https://www.facebook.com/events/456318871417361/">Live at Electro-Mechanica festival at New Stage of the Alexandrinsky Theater in St. Petersburg, Russia</a></p>
      </div>
   
      <!-- Видео YouTube -->
      <div class="gallery-item">
         <iframe src="https://www.youtube.com/embed/yDjKqchnff8" title="Performance a/v at Kisoly in St. Petersburg, Russia" frameborder="0" allowfullscreen></iframe>
         <p>Performance a/v at Kisoly in St. Petersburg, Russia</p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/Electro Haram and Mårble cassette.webp" alt="Collaborative cassette album with Electro Haram and Mårble (2019, Hair Del)">
         <p><a href="https://hairdel.bandcamp.com/album/unexpected-record">Collaborative cassette album with Electro Haram and Mårble (2019, Hair Del)</a></p>
      </div>
      
      <div class="gallery-item">
         <img src="/public/assets/images/Automotrice and Hroshvalur's split.webp" alt="Automotrice and Hroshvalur's split cassette album featuring artwork by Ivan Shestov (2018, Cancelled Records)">
         <p><a href="https://www.youtube.com/watch?v=26i6PWXjidE&ab_channel=%D0%AE%D0%A0%D0%90%D0%9A%D1%83%D0%B7%D0%BD%D0%B5%D1%86%D0%BE%D0%B2">Automotrice and Hroshvalur's split cassette album featuring artwork by Ivan Shestov (2018, Cancelled Records)</a></p>
      </div>
   
      <!-- Видео YouTube -->
      <div class="gallery-item">
         <iframe src="https://www.youtube.com/embed/qC-inOl9FgE" title="Audiovisual mix for 20ft Radio in Kyiv" frameborder="0" allowfullscreen></iframe>
         <p>Audiovisual mix for 20ft Radio in Kyiv</p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/Post Mortem album.webp" alt="Vulva Sun's 'Post Mortem' album featuring artwork by Liza Melnik (2018, Self-Released)">
         <p><a href="https://www.discogs.com/ru/release/15816722-Vulva-Sun-Post-Mortem">Vulva Sun's “Post Mortem” album featuring artwork by Liza Melnik (2018, Self-Released)</a></p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/Vulva Sun's 7.webp" alt="Vulva Sun's 7” lathe cut EP featuring artwork by Liza Melnik (2018, Nazlo Records)">
         <p><a href="https://www.discogs.com/ru/release/11460712-Vulva-Sun-Reincarnation">Vulva Sun's 7” lathe cut EP featuring artwork by Liza Melnik (2018, Nazlo Records)</a></p>
      </div>
      
         <!-- Видео Vimeo -->
      <div class="gallery-item">
         <iframe src="https://player.vimeo.com/video/236276196" title="Performance Hanged Man with Croatian Amor at Center Mars in St. Petersburg, Russia" frameborder="0" allowfullscreen></iframe>
         <p><a href="https://vimeo.com/236276196">Performance Hanged Man with Croatian Amor at Center Mars in St. Petersburg, Russia</a></p>
      </div>
   
      <div class="gallery-item">
         <img src="/public/assets/images/Vulva Sun's first cassette album.webp" alt="Vulva Sun's first cassette album, each containing one of an artist's milk teeth (2017, Self-Released)">
         <p><a href="https://www.discogs.com/release/10078130-Vulva-Sun-Vulva-Sun">Vulva Sun's first cassette album, each containing one of an artist's milk teeth (2017, Self-Released)</a></p>
      </div>

      <iframe src="https://www.youtube.com/embed/qC-inOl9FgE" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>
   </section>
</body>
</html>




