<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sound - Circular Void</title>
</head>
<body>
    <section class="sound-container">
      <div class="sound-content-wrapper">
         <p>I am a full-stack sound engineer and composer with expertise in sound design and mastering. I specialize in creating immersive audio experiences across various mediums, including:</p>
         <ul>
            <li>Music production</li>
            <li>Field recording</li>
            <li>Film soundtracks</li>
            <li>Foley work</li>
            <li>Linear audio</li>
            <li>Sound editing</li>
            <li>Audio branding</li>
            <li>Radio broadcasting</li>
            <li>Software development</li>
            <li>Sound art</li>
         </ul>
         <p>I am currently seeking engaging part-time or full-time projects in these areas. If you have any questions or would like to discuss your project, please don’t hesitate to reach out.</p>
         <ul>
            <p><a href="mailto:highlandsound.music@gmail.com">Email</a></p>
            <p><a href="https://t.me/circular_void">Telegram</a></p>
      </div>
      <!-- <div class="sound-pic-wrapper">
         <img src="/public/assets/images/dolphin.jpg" alt="Dolphin">
      </div>   -->
    </section>
</body>
</html>

