@font-face {
   font-family: 'Inter';
   src: url('/public/assets/fonts/Inter.woff2') format('woff2'),
        url('/public/assets/fonts/Inter.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Druk Wide';
   src: url('/public/assets/fonts/DrukWide.woff2') format('woff2'),
        url('/public/assets/fonts/DrukWide.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Playfair Display';
   src: url('/public/assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('/public/assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

body {
   font-family: 'Inter';
   color: #000;
   font-size: 1rem;
   font-style: normal;
   line-height: 1.375rem;
   letter-spacing: -.02081rem;
   background: #fff;
   
   width: 100%;
   display: flex;
}

p {
   font-family: 'Inter', sans-serif;
   font-size: 1rem; 
   line-height: 1.6;
   color: #333;
   margin: 0; 
}

p span {
   font-weight: 700; 
   color: #000; 
}

.content {
   margin-left: 15rem;
   display: flex;
   justify-content: center;
   flex: 1; 
   overflow-y: auto; 
}
.content span {
   font-weight: 600;
}


/* About */

.about-container {
   display: flex;
   flex-direction: column;
   gap: 2rem; 
   padding: 1.5rem 2rem; 
   max-width: 60rem;
}

.item {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 2rem; 
   padding: 1.5rem 0;
}

.item:nth-child(even) {
   flex-direction: row-reverse; 
}

.about-content {
   flex: 1; 
}

.image-wrapper {
   flex: 0 0 35%; 
   max-width: 300px; 
   overflow: hidden; 

}

.about-container a {
   color: #666666; 
   transition: color 0.3s ease; 
}

.about-container a:hover {
   color: #333333; 
}

/* CV */


.cv-container {
   max-width: 60rem;
   margin: 0 auto;
   padding: 3.5rem 1.5rem;
   font-family: "Inter", sans-serif;
   line-height: 1.6;
}

.cv-content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem; 
   align-items: start;
   margin: 0 auto;
   max-width: 60rem;
   margin-bottom: 1.5rem;
}

.cv-info h2 {
   font-family: "Druk Wide", sans-serif;
   font-size: 1.4rem; 
   margin-bottom: 0.4rem;
}

.cv-info h3 {
   font-size: 1.4rem; 
   font-weight: normal;
   margin-bottom: 0.6rem;
   color: #333;
}

.cv-info p,
.cv-section-title,
.cv-container a {
   font-size: 1.2rem;
   color: #333;
}

.cv-contact p:not(:first-child),
.cv-languages li {
   font-size: 1.2rem;
}

.cv-section-title {
   font-weight: bold;
   font-size: 1.3rem;
   margin-bottom: 0.8rem;
}

.cv-links,
.cv-languages,
.cv-contact {
   margin-bottom: 1.5rem;
}

.cv-container a {
   color: #555;
   text-decoration: none;
   font-size: 1.2rem;
}

.cv-container a:hover {
   text-decoration: underline;
}

.cv-photo-wrapper {
   display: flex;
   grid-column: 2;
   grid-row: 1 / span 2;
}

.cv-photo {
   width: 100%;
   max-width: 22rem;
   object-fit: cover;
}

.cv-info {
   grid-column: 1;
   grid-row: 1;
   /* align-self: center; */
}

.cv-languages {
   grid-column: 1;
   grid-row: 3;
}

.cv-links {
   grid-column: 2;
   grid-row: 3;
}

.cv-contact {
   grid-column: 1;
   grid-row: 2;
}

.cv-main h2 {
   font-family: "Druk Wide", sans-serif;
   font-size: 1.4rem; 
   margin-bottom: 0.3rem;
}
   
.cv-main h3 {
   font-family: "Austin", serif;
   font-size: 1.4rem;
   margin-top: 20px;
   margin-bottom: 10px;
}

.education,
.workshops {
   line-height: 1.7;
}


.cv-main a {
   color: gray;
   text-decoration: none;
}

.cv-main a:hover {
   text-decoration: underline;
}

.cv-main ul {
   list-style: none;
   padding: 0;
   margin: 0.6rem 0;
}

.cv-main p, 
.cv-main a {
   font-size: 0.9rem;
}

.cv-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
}


.sound-projects ul {
   columns: 2; 
   column-gap: 1rem;
}

.sound-projects li {
   break-inside: avoid; 
}

/* Music */

.music-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1.8rem;
   max-width: 50rem;
   margin: 0 auto;
   margin-block: 3.5rem;
}

.gallery-item {
   display: flex;
   flex-direction: column;
}

.music-container :nth-last-child(2) {
   grid-column: span 2;
}

.gallery-item img {
   width: 100%; 
   height: auto; 
   object-fit: contain; 
}


.youtube-item iframe {
   width: 100%;
   aspect-ratio: 16 / 9; 
}

.vimeo-item iframe {
   width: 100%;
   aspect-ratio: 5.5 / 4.1; 
}


.gallery-item p {
   font-size: 0.9rem;
   line-height: 1.4;
}

.gallery-item a {
   color: gray;
}

.gallery-item a:hover {
   text-decoration: underline;
}

.youtube-item,
.vimeo-item {
   grid-column: span 2;
   width: 100%;
}

.bandcamp-item iframe {
   width: 100%; 
   aspect-ratio: 350 / 470;
   border: none;
}


/* Sound */

.sound-container {
   max-width: 60rem; 
   margin: 2rem auto; 
   padding: 1.5rem;
   font-family: 'Inter', sans-serif; 
   color: #333; 
   display: flex;
   flex-direction: column;
   align-items: center;
}

.sound-container h3 {
   font-family: 'Druk Wide', sans-serif; 
   font-size: 1.8rem;
   margin-bottom: 1rem;
   color: #000; 
}

.sound-container p {
   font-size: 1rem;
   line-height: 1.6;
}

.sound-container ul {
   list-style-type: disc;
   padding-left: 1.25rem;
   column-gap: 1rem;
   margin-block: 1.25rem;
}

.sound-container li {
   font-size: 1rem;
   line-height: 1.6;
   break-inside: avoid;
   padding: 0.3rem 0; 
}

.sound-pic-wrapper {
   width: 100%;
   max-width: 40rem;
   margin-top: 3rem;
   border: 3px solid black;
   /* border-radius: 8px; */
}

.sound-pic-wrapper img {
   width: 100%; 
   height: auto; 
   object-fit: contain; 
   /* transform: rotate(4deg); */
}








